
:root {
    --ion-font-family: "Arial", sans-serif;
    --ion-background-color: linear-gradient(to bottom, rgb(158, 223, 73), rgb(102, 204, 102));
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ion-tab-bar {
  --ion-background-color: rgb(158, 223, 73);
}


.top-status-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #cccccc;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-weight: bold;
  font-size: 14px;
}


body, html, ion-app, ion-page, ion-content {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;    
}

body,
p,
h1, h2, h3, h4, h5, h6,
span,
a,
label {
  color: black !important;
}

.keyboard-visible .ion-content {
  padding-bottom: 300px;
}

/* ion-content {
  --keyboard-avoidance: true;
  height: auto;
} */

.keyboard-avoidance {
  padding-bottom: 100px;
}

.ion-page {
  height: 100%;
}


.game-button.selected {
  --background: yellow !important;
  --color: black !important;
}


ion-checkbox{
    margin-left: 10px;
    margin-right: 10px;
}

.center-input {
    display: block;          
    margin: 0 auto;           
    width: 60%;               
    margin-top: 60px; 
    border: 1px solid white;      
  }

.game-input {
  display: block;          
    margin: 0 auto;           
    width: 30%; 
    padding: 10px
}

/* .game-input:focus{
  transform: translateY(-200px);  
  transition: transform 0.3s ease-in-out;
} */

.ion-select-first{
    display: block;          
    margin: 0 auto;           
    width: 60%;   
    margin-top: 10px;    
    margin-bottom: 60px;             
    border-bottom: 1px solid white;   
}

.ion-select-second{
    display: block;          
    margin: 0 auto;           
    width: 60%;   
    margin-top: 10px;           
    border-bottom: 1px solid white;   
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 10px; 
  }
  

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
.starting-table{
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.active-player{
  background: linear-gradient(to right, #F1C40F, #FFA500);
  border-radius: 10px;
}

.home-page-titles{
  font-family:"Nunito", sans-serif;
}

.home-card{
  margin-left: 70px;
  margin-right: 70px;
}

.players-list{
  background-color: white;
}

.undo-btn{
  margin-left: 30px;
}

.score-card {
  margin-bottom: 3rem;
}

.scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.score-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.end-game-btn{
  margin-top: 3rem;
}

.player-name-wrapper {
  position: relative;
  padding-left: 40px; 
  display: flex;
  align-items: center;
}

.arrow-icon {
  position: absolute;
  left: 0;
  height: 30px;
  margin-right: 5px;
}

.arrow-icon.hidden {
  visibility: hidden;
}

.arrow-wrapper {
  position: absolute;
  left: -35px; 
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.arrow-icon.hidden {
  visibility: hidden;
}

.fourteen-one-player-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.fourteen-one-center-info {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}






@media (orientation: landscape) {
  .scores-container {
    flex-direction: row;
    justify-content: center;
    gap: 14rem;
  }

  .score-card{
    margin-bottom: 0rem;
  }

  .end-game-btn{
    margin-top: 0rem;
  }

  .fourteen-one-player-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem; 
  }

  .fourteen-one-center-info {
    position: absolute; 
    top: 50px;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 100;
  }

  .active-player{
    width: 150px;
  }
}




